# 1. Προσωρινά αρχεία Λειτουργικού Συστήματος
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
Thumbs.db

# 2. Αρχεία Ρυθμίσεων από Code Editors (VS Code, PhpStorm κ.λπ.)
.vscode/
.idea/
*.suo
*.sw?

# 3. Αρχεία Καταγραφής (Logs)
*.log

# 4. Αρχεία με κωδικούς & ευαίσθητα δεδομένα για το Render
dorm.ini
delete.ini

 
# connection.php

# Αν τα .sql αρχεία σας (π.χ. users.sql) έχουν μέσα αληθινά δεδομένα 
# (π.χ. emails και κωδικούς), σβήστε το # από την παρακάτω γραμμή:
# *.sql
# ====================================================================